<div class="posts-index-view">
  <h2>All posts above</h2>
  <ul>
    <% @posts.each do |post| %>
        <li>Title: <%= link_to post.title, post_path(post), class: 'user-post-title' %></li>
    <% end %>
  </ul>
</div>
