<div class="posts-index-view">
  <h2>All posts above</h2>
  <ul class='posts-list-container'>
    <% @posts.each do |post| %>
        <li>Title: <%= link_to post.title, post_path(post), class: 'user-post-title' %></li>
    <% end %>
  </ul>
  <div>
  <%= link_to 'New Post', new_post_path %>
  <%= link_to 'Back', root_path %>
  </div>
</div>
